#dashboard .user-dashboard-region div.block h2 {
  background: #e0e0d8;
}

#dashboard .user-dashboard-region .block {
  clear: both;
}

#dashboard div.user-dashboard-region {
  float: left;
  min-height: 1px;
}

#dashboard .ui-sortable {
  min-height: 70px;
}

#dashboard .ui-sortable-border {
  padding: 10px;
  border: 2px dashed #ccc;
}

.user-dashboard-checkbox.col-12 .form-check {
  display: inline-block;
  width: 24%;
}

#disabled-blocks .content {
  display: none;
}

#dashboard .gs-2 > .grid-stack-item {
  width: 50%;
}

#dashboard .gs-2 > .grid-stack-item[gs-x="1"] {
  left: 50%;
}

#dashboard .gs-2 > .grid-stack-item[gs-w="2"] {
  width: 100%;
}

#dashboard .gs-3 > .grid-stack-item {
  width: 33.333%;
}

#dashboard .gs-3 > .grid-stack-item[gs-x="1"] {
  left: 33.333%;
}

#dashboard .gs-3 > .grid-stack-item[gs-w="2"] {
  width: 66.667%
}

#dashboard .gs-3 > .grid-stack-item[gs-x="2"] {
  left: 66.667%;
}

#dashboard .gs-3 > .grid-stack-item[gs-w="3"] {
  width: 100%;
}

#dashboard .gs-4 > .grid-stack-item {
  width: 25%;
}

#dashboard .gs-4 > .grid-stack-item[gs-x="1"] {
  left: 25%
}

#dashboard .gs-4 > .grid-stack-item[gs-w="2"] {
  width: 50%;
}

#dashboard .gs-4 > .grid-stack-item[gs-x="2"] {
  left: 50%;
}

#dashboard .gs-4 > .grid-stack-item[gs-w="3"] {
  width: 75%;
}

#dashboard .gs-4 > .grid-stack-item[gs-x="3"] {
  left: 75%;
}

#dashboard .gs-4 > .grid-stack-item[gs-w="4"] {
  width: 100%;
}

#dashboard .gs-5 > .grid-stack-item {
  width: 20%;
}

#dashboard .gs-5 > .grid-stack-item[gs-x="1"] {
  left: 20%;
}

#dashboard .gs-5 > .grid-stack-item[gs-w="2"] {
  width: 40%;
}

#dashboard .gs-5 > .grid-stack-item[gs-x="2"] {
  left: 40%;
}

#dashboard .gs-5 > .grid-stack-item[gs-w="3"] {
  width: 60%;
}

#dashboard .gs-5 > .grid-stack-item[gs-x="3"] {
  left: 60%;
}

#dashboard .gs-5 > .grid-stack-item[gs-w="4"] {
  width: 80%;
}

#dashboard .gs-5 > .grid-stack-item[gs-x="4"] {
  left: 80%;
}

#dashboard .gs-5 > .grid-stack-item[gs-w="5"] {
  width: 100%;
}

#dashboard .gs-6 > .grid-stack-item {
  width: 16.667%;
}

#dashboard .gs-6 > .grid-stack-item[gs-x="1"] {
  left: 16.667%;
}

#dashboard .gs-6 > .grid-stack-item[gs-w="2"] {
  width: 33.333%;
}

#dashboard .gs-6 > .grid-stack-item[gs-x="2"] {
  left: 33.333%;
}

#dashboard .gs-6 > .grid-stack-item[gs-w="3"] {
  width: 50%;
}

#dashboard .gs-6 > .grid-stack-item[gs-x="3"] {
  left: 50%;
}

#dashboard .gs-6 > .grid-stack-item[gs-w="4"] {
  width: 66.667%;
}

#dashboard .gs-6 > .grid-stack-item[gs-x="4"] {
  left: 66.667%;
}

#dashboard .gs-6 > .grid-stack-item[gs-w="5"] {
  width: 83.333%;
}

#dashboard .gs-6 > .grid-stack-item[gs-x="5"] {
  left: 83.333%;
}

#dashboard .gs-6 > .grid-stack-item[gs-w="6"] {
  width: 100%;
}

#dashboard .gs-7 > .grid-stack-item {
  width: 14.286%;
}

#dashboard .gs-7 > .grid-stack-item[gs-x="1"] {
  left: 14.286%
}

#dashboard .gs-7 > .grid-stack-item[gs-w="2"] {
  width: 28.571%
}

#dashboard .gs-7 > .grid-stack-item[gs-x="2"] {
  left: 28.571%
}

#dashboard .gs-7 > .grid-stack-item[gs-x="3"] {
  left: 42.857%;
}

#dashboard .gs-7 > .grid-stack-item[gs-w="4"] {
  width: 57.143%
}

#dashboard .gs-7 > .grid-stack-item[gs-x="4"] {
  left: 57.143%
}

#dashboard .gs-7 > .grid-stack-item[gs-w="5"] {
  width: 71.429%;
}

#dashboard .gs-7 > .grid-stack-item[gs-x="5"] {
  left: 71.429%;
}

#dashboard .gs-7 > .grid-stack-item[gs-w="6"] {
  width: 85.714%;
}

#dashboard .gs-7 > .grid-stack-item[gs-x="6"] {
  left: 85.714%;
}

#dashboard .gs-7 > .grid-stack-item[gs-w="7"] {
  width: 100%
}

#dashboard .gs-8 > .grid-stack-item {
  width: 12.5%
}

#dashboard .gs-8 > .grid-stack-item[gs-x="1"] {
  left: 12.5%
}

#dashboard .gs-8 > .grid-stack-item[gs-w="2"] {
  width: 25%
}

#dashboard .gs-8 > .grid-stack-item[gs-x="2"] {
  left: 25%;
}

#dashboard .gs-8 > .grid-stack-item[gs-w="3"] {
  width: 37.5%;
}

#dashboard .gs-8 > .grid-stack-item[gs-x="3"] {
  left: 37.5%
}

#dashboard .gs-8 > .grid-stack-item[gs-w="4"] {
  width: 50%
}

#dashboard .gs-8 > .grid-stack-item[gs-x="4"] {
  left: 50%;
}

#dashboard .gs-8 > .grid-stack-item[gs-w="5"] {
  width: 62.5%;
}

#dashboard .gs-8 > .grid-stack-item[gs-x="5"] {
  left: 62.5%;
}

#dashboard .gs-8 > .grid-stack-item[gs-w="6"] {
  width: 75%;
}

#dashboard .gs-8 > .grid-stack-item[gs-x="6"] {
  left: 75%;
}

#dashboard .gs-8 > .grid-stack-item[gs-w="7"] {
  width: 87.5%;
}

#dashboard .gs-8 > .grid-stack-item[gs-x="7"] {
  left: 87.5%;
}

#dashboard .gs-8 > .grid-stack-item[gs-w="8"] {
  width: 100%;
}

#dashboard .gs-9 > .grid-stack-item {
  width: 11.111%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="1"] {
  left: 11.111%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="2"] {
  width: 22.222%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="2"] {
  left: 22.222%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="3"] {
  width: 33.333%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="3"] {
  left: 33.333%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="4"] {
  width: 44.444%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="4"] {
  left: 44.444%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="5"] {
  width: 55.556%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="5"] {
  left: 55.556%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="6"] {
  width: 66.667%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="6"] {
  left: 66.667%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="7"] {
  width: 77.778%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="7"] {
  left: 77.778%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="8"] {
  width: 88.889%
}

#dashboard .gs-9 > .grid-stack-item[gs-x="8"] {
  left: 88.889%
}

#dashboard .gs-9 > .grid-stack-item[gs-w="9"] {
  width: 100%
}

#dashboard .gs-10 > .grid-stack-item {
  width: 10%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="1"] {
  left: 10%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="2"] {
  width: 20%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="2"] {
  left: 20%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="3"] {
  width: 30%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="3"] {
  left: 30%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="4"] {
  width: 40%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="4"] {
  left: 40%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="5"] {
  width: 50%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="5"] {
  left: 50%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="6"] {
  width: 60%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="6"] {
  left: 60%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="7"] {
  width: 70%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="7"] {
  left: 70%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="8"] {
  width: 80%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="8"] {
  left: 80%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="9"] {
  width: 90%
}

#dashboard .gs-10 > .grid-stack-item[gs-x="9"] {
  left: 90%
}

#dashboard .gs-10 > .grid-stack-item[gs-w="10"] {
  width: 100%
}

#dashboard .gs-11 > .grid-stack-item {
  width: 9.091%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="1"] {
  left: 9.091%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="2"] {
  width: 18.182%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="2"] {
  left: 18.182%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="3"] {
  width: 27.273%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="3"] {
  left: 27.273%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="4"] {
  width: 36.364%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="4"] {
  left: 36.364%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="5"] {
  width: 45.455%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="5"] {
  left: 45.455%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="6"] {
  width: 54.545%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="6"] {
  left: 54.545%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="7"] {
  width: 63.636%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="7"] {
  left: 63.636%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="8"] {
  width: 72.727%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="8"] {
  left: 72.727%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="9"] {
  width: 81.818%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="9"] {
  left: 81.818%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="10"] {
  width: 90.909%
}

#dashboard .gs-11 > .grid-stack-item[gs-x="10"] {
  left: 90.909%
}

#dashboard .gs-11 > .grid-stack-item[gs-w="11"] {
  width: 100%
}

.overflow-auto.list-block {
  max-height: 150px;
}
