<div id="dashboard" class="clearfix user-dashboard jquery-once-2-processed">
  {% include 'user-dashboard-customize.html.twig' %}

  {% for row in regions %}
    <div class="row layout-row">
      {% for id, region in row %}
        {% set layoutCol = 'layout-column--half' %}
        {% if region.width == 8 %}
          {% set layoutCol = 'layout-column--three-quarter' %}
        {% endif %}
        {% if region.width == 4 %}
          {% set layoutCol = 'layout-column--quarter' %}
        {% endif %}
        <div id="{{ id }}" class="user-dashboard-region {{ layoutCol }} col-{{ region.width }}" droppable="true">
          <div id="region--{{ id }}" class="region clearfix sortable" title="{{ region.name }}" data-bs-toggle="tooltip" data-bs-placement="top">
            {% for block in region.block %}
              {{ block }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>
