{% if gridStack %}
  <div id="{{ bid }}" class="card grid-stack-item {{ lock ? 'ui-draggable-disabled ui-resizable-disabled' : '' }}" gs-x="{{ x }}" gs-y="{{ y }}" gs-w="{{ w }}" gs-h="{{ h }}" gs-id="{{ delta }}" data-once="details" data-weight="{{ weight }}" {% if lock %} gs-no-resize="true" gs-no-move="true" gs-locked="true" {% endif %} {% if not collapse %} open {% endif %}>
    <div class="card-body p-0 grid-stack-item-content">
      <div class="card-title" data-bid="{{ bid }}" >
        {% if not lock %}
          <button type="button" class="btn-close hidden float-end" aria-label="Close" data-bid="{{ bid }}"></button>
        {% endif %}
        <strong>{{ title }}</strong>
      </div>
      {{ content }}
    </div>
  </div>
{% else %}
<details id="{{ bid }}" class="card details mt-1 mb-1 draggable grid-stack-item" gs-x="{{ x }}" gs-y="{{ y }}" gs-w="{{ w }}" gs-h="{{ h }}" gs-id="{{ delta }}" data-once="details" data-weight="{{ weight }}" {% if not collapse %} open {% endif %}>
  {% if title %}
    <summary aria-controls="{{ id }}" aria-expanded="{% if collapse %}false{% else %}true{% endif %}"
             role="button" class="card-header" data-bid="{{ bid }}" >
      <button type="button" class="btn-close hidden float-end" aria-label="Close" data-bid="{{ bid }}"></button>
      {{ title }}
    </summary>
  {% endif %}
  <div id="card-{{ id }}" class="collapse {% if not collapse %} show {% endif %}" aria-labelledby="heading-{{ id }}">
    <div class="card-body grid-stack-item-content">
      {{ content }}
    </div>
  </div>
</details>
{% endif %}
