<div id="dashboard" class="clearfix user-dashboard jquery-once-2-processed">
  {% include 'user-dashboard-customize.html.twig' %}
  <div class="row layout-row">
  {% for row in regions %}
      {% for id, region in row %}
        {% set layoutCol = 'layout-column' %}
        <div id="{{ id }}" class="user-dashboard-region {{ layoutCol }}">
          <div id="region--{{ id }}" class="region clearfix grid-stack vh-100 overflow-auto" title="{{ region.name }}" data-bs-toggle="tooltip" data-bs-placement="top">
            {% for block in region.block %}
              {{ block }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  {% endfor %}
  </div>
</div>
