<div class="overflow-auto list-block">
  <div class="row">
    {% for key, block in blocks %}
      <div id="block-{{ key|replace({':':'-'}) }}"
           class="col-auto disabled-block block block-{{ block.provider }}-{{ block.id }} module-{{ block.provider }} delta-{{ block.id }}">
        <button type="button" id="{{ key|replace({':':'-'}) }}" data-delta="{{ key }}" class="btn btn-sm mb-2 btn-outline-dark grid-stack-item" draggable="true">
          <a href="#" title="{{ 'Drag to re-order'|trans }}" class="tabledrag-handle text-decoration-none"><i class="bi bi-arrows-move handle">&nbsp;</i></a>
          {{ block.admin_label }} {{ block.category }}</button>
        <div class="content grid-stack-item-content"></div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="clearfix">
  <a class="btn btn-success button" href="/user/dashboard">{{ "Finish"|trans }}</a>
</div>
