<style>

</style>
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tbody>
  <tr>
    <td valign="top" class="bg_white" style="padding: 1em 2.5em 0 2.5em;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td class="logo" style="text-align: left;">
            <h1><a href="{{ base_path }}"><img src="{{ logo }}" height="60px"/> {{ site_name }}</a></h1>
          </td>
          <td>{{ site_slogan }}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <div class="text">
              <h3>{{ "Daily work report"|t }}</h3>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tbody>
  {% for row in regions %}
    <tr>
      {% for id, region in row %}
        {% set layoutCol = 'layout-column--half' %}
        {% if region.width == 8 %}
          {% set layoutCol = 'layout-column--three-quarter' %}
        {% endif %}
        {% if region.width == 4 %}
          {% set layoutCol = 'layout-column--quarter' %}
        {% endif %}
        <td id="{{ id }}" class="user-dashboard-region {{ layoutCol }} col-{{ region.width }}">
          <div id="region--{{ id }}" title="{{ region.name }}">
            {% for block in region.block %}
              {{ block }}
            {% endfor %}
          </div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
